.pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/* scroll-animation */

.autoShow{
  animation-timeline: scroll();

  animation-name: text-appear;
  animation-range: entry 10% cover 10%;
  animation-fill-mode: both;
  animation-duration: 1ms;

    
}
@keyframes text-appear{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* end-of-the-scroll-animation */