.pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/* scroll-animation */

.autoRotate{
    animation: AutoRotateAnimation;
    animation-timeline: view();
}
@keyframes AutoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);   
    }
}




@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.scroll{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.autoShow{
    animation: text-appear both;
    animation-timeline: view();

    
}
@keyframes text-appear{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* end-of-the-scroll-animation */